@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Roboto+Mono:300,400,700');

html, body {
  height: 100%;
  margin: 0;
}

.height-100 {
  height: 100vh;
}

#logo-wrapper {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-51.5%, -50%);
}

#logo {
  max-height: 13vh;
  min-width: 300px;
  max-width: 100%;
  height: auto;
  width: auto\9;
}

#content-wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content {
  max-height: 20vh;
  min-width: 300px;
  max-width: 510px;
  height: auto;
  width: auto\9;

  margin: 0, 10px, 0, 10px;

  font-family: 'Helvetica', monospace;
  font-weight: 100;
  color: #1D1D1D;
  font-size: 17px;
  line-height: 30px;
}

.confirmed-text {
  font-family: 'Karla';
  font-size: 24px;
  font-weight: bold;
}

#buttons-wrapper {
  white-space: nowrap;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid transparent;
  background: #a9f3ff;
  background: -moz-linear-gradient(left, #a9f3ff 0%, #ffb2f6 51%, #ffd0bd 100%);
  background: -webkit-linear-gradient(left, #a9f3ff 0%, #ffb2f6 51%, #ffd0bd 100%);
  background: linear-gradient(to right, #a9f3ff 0%, #ffb2f6 51%, #ffd0bd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9f3ff', endColorstr='#ffd0bd', GradientType=1);
}

#buttons-wrapper a {
  text-decoration: none;
  color: inherit;
}

.choice {
  margin: 0;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  padding: 15px;
  background: #fff;
  width: 190px;
  text-align: center;
  cursor: pointer;
}


.selected {
  background: #a9f3ff;
  background: -moz-linear-gradient(left, #a9f3ff 0%, #ffb2f6 51%, #ffd0bd 100%);
  background: -webkit-linear-gradient(left, #a9f3ff 0%, #ffb2f6 51%, #ffd0bd 100%);
  background: linear-gradient(to right, #a9f3ff 0%, #ffb2f6 51%, #ffd0bd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9f3ff', endColorstr='#ffd0bd', GradientType=1);

  font-weight: bold;
  color: #0238FB;

  box-shadow: -1px 0px 10px 1px #0238FB;
}

.left-panel {
  background-image: url('http://assets.beautystack.co/bg.jpg');
  background-size: cover;
}

.icon-wrapper {
  position: absolute;
  top: 8vh;
  left: 50%;
  transform: translate(-54%, -50%);
}

.icons {
  padding: 0;
  margin-left: 10px;
  margin-bottom: 0;
}

.icons.confirm {
  margin-left: 0;
  text-align: center;
}

.icon {
  color: #1D1D1D;
  font-size: 25px;
}

.icon:hover {
  color: #1D1D1D;
}

.icons li {
  display: inline;
  font-size: 28px;
  margin: 0 10px;
}

#footer-wrapper {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

  white-space: nowrap;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

#footer-wrapper a {
  color: #1D1D1D;

}

.footer-text {
  display: inline-block;
  text-align: center;
  text-decoration: underline;
}

.separator {
  position: relative;
  top: 50%;
  transform: translateY(-15%);
  text-decoration: none;
}

@media (max-width: 400px) {
  #logo-wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-51.5%, -50%);
  }

  #content-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #buttons-wrapper {
    white-space: nowrap;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 306px;
  }

  .choice {
    padding: 10px;
    width: 150px;

    font-size: 13px;
  }
}

/*iPhone 5 landscape*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #logo-wrapper {
    top: 25%;
    left: 50%;
    transform: translate(-51.5%, -50%);
  }

  #content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 500px;
  }

  .choice {
    padding: 10px;
    width: 150px;

    font-size: 13px;
  }

}
