@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

html, body {
	height: 100%;
}

.height-100 {
	height: 100%;
}


#left-side {

	background-color: #000;
}

#right-side {

	background-image: url('../../images/bg.jpg');
	background-size: cover;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto; }