/*
|--------------------------------------------------------------------------
| Button
|--------------------------------------------------------------------------
| @namespace: scl-
|
*/
@import "../../styles/mixins/mixins";

.scl-Button {
  @include Button-primary;

  align-items: center;
  justify-content: center;

  display: flex;
  padding: 10px var(--Grid_Gutter);

  svg {
    display: block;
    width: 24px;
    height: 24px;

    fill: #fff;

    @include sm {
      width: 32px;
      height: 32px;
    }
  }
}
