<!doctype html>
<html>
<head>
    <title>beautystack</title>

    <meta name="keywords" content="Booking system, beauty booking system, book on instagram, beauty booking software, nail salon software, beauty blogging platform" />
    <meta name="description" content="A visual booking system for influential beauty professionals. Post your work, take payment and manage your schedule. Apply now to join." />
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ assetPath "css/main.min.css" }}">

    <link rel="apple-touch-icon" sizes="180x180" href="//assets.beautystack.co/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="//assets.beautystack.co/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="//assets.beautystack.co/favicons/favicon-16x16.png">
    <link rel="manifest" href="//assets.beautystack.co/favicons/manifest.json">
    <link rel="mask-icon" href="//assets.beautystack.co/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#000000">
</head>
<body>
    <div class="legal">
        <a href="/" class="back">
            <img src="http://assets.beautystack.co/logos/square-black-bg.png">
        </a>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Terms and Conditions</h1>
                    <p class="updated">Last Updated: 11th September 2017</p>

                    <p>Hey babe!</p>
                    <p>Welcome to Beautystack's Terms and Conditions  (these "Terms"). This is a contract between you and Beautystack Limited and we want you to be aware of yours and our rights before you use the Beautystack web application ("App"). Please take some time to read these Terms before enjoying the App, because once you access, view or use the App, you will be legally bound by these Terms! </p>

                    <h2>Beautystack Rules</h2>
                    <p>Before you can use our App, you will need to register for an account ("Account"). In order to create an Account you must:</p>
                    <ul>
                        <li>have a Facebook account;</li>
                        <li>be at least 16 years old; and</li>
                        <li>be legally permitted to use the App legally in your country</li>
                    </ul>
                    <p>If you create an Account, you authorize us to access, display and use certain information from your Facebook account (e.g. profile pictures, relationship status, location and information about Facebook friends). For more information about what information we use and how we use it, please check out our <a href="/privacy">Privacy Policy</a></p>
                    <p>You cannot use another beauty pros Account without her permission.</p>
                    <p>We hope you love the community of beauty junkies on Beautystack, but if you want to leave (sob), you can delete your Account at any time by going to the 'Settings' cog on the profile screen of your Account when you are logged in, and clicking on the 'Delete account' link. Your Account will be deleted immediately but it may take a little while for Your Content to be completely removed from the App. We will save your profile information in case you realise you miss us and you decide to restore your Account (which you can do within 90 days of de-activating your Account). Beautystack Limited reserves the right at our sole discretion to terminate or suspend any Account, or make use of any operational, technological, legal or other means available to enforce the Terms (including without limitation blocking specific IP addresses), at any time without liability and without the need to give you prior notice.</p>

                    <h2>Types of Content</h2>
                    <p>There are three types of content that you will be able to access on the App:</p>
                    <ul>
                        <li>content that you upload and provide ("Your Content");</li>
                        <li>content that Clients provide ("Client Content"); and</li>
                        <li>content that Beautystack Limited provide ("Our Content")</li>
                    </ul>

                    <h2>We don’t allow certain content on Beautystack</h2>
                    <p>We want our beauty pros to freely communicate on Beautystack, but we have to impose restrictions on certain content that:</p>
                    <ul>
                        <li>contains language which could be deemed offensive or is likely to harass, upset, embarrass, alarm or annoy any other person;</li>
                        <li>is obscene, pornographic or otherwise may offend human dignity;</li>
                        <li>is abusive, insulting or threatening, or which promotes or encourages racism, sexism, hatred or bigotry;</li>
                        <li>encourages any illegal activity including, without limitation, terrorism, inciting racial hatred or the submission of which in itself constitutes committing a criminal offence;</li>
                        <li>is defamatory or libellous;</li>
                        <li>involves the transmission of "junk" mail or "spam";</li>
                        <li>contains any spy ware, adware, viruses, corrupt files, worm programmes or other malicious code designed to interrupt, damage or limit the functionality of or disrupt any software, hardware, telecommunications, networks, servers or other equipment, Trojan horse or any other material designed to damage, interfere with, wrongly intercept or expropriate any data or personal information whether from Beautystack or otherwise;</li>
                        <li>itself, or the posting of which, infringes any third party's rights (including, without limitation, intellectual property rights and privacy rights);</li>
                        <li>shows another person which was created or distributed without that person’s consent.</li>
                    </ul>
                    <p>We operates a zero-tolerance policy for this kind of content! Don’t use other Beauty Pro’s work without their permission or credit.</p>

                    <h2>Your Content</h2>
                    <p>As Your Content is created by you, you are responsible and liable for Your Content and will indemnify, defend, release, and hold us harmless from any claims made in connection with Your Content.</p>
                    <p>You may not display any personal contact or banking information on your individual profile page whether in relation to you or any other person (for example, names, home addresses or postcodes, telephone numbers, email addresses, URLs, credit/debit card or other banking details). If you do choose to reveal any personal information about yourself to other users, whether via email or otherwise, it is at your own risk. We encourage you to use the same caution in disclosing details about yourself to third parties online as you would under any other circumstances.</p>
                    <p>Beautystack is a public community, so Your Content will be visible to other users of the App all around the world. Please make sure you are comfortable sharing Your Content before you post it, particularly insofar as it relates to your clients.  As such, you agree that Your Content may be viewed by other users and any person visiting, participating in or who is sent a link to the App. By uploading Your Content on Beautystack, you represent and warrant to us that you have all necessary rights and licences to do so, and automatically grant us a non-exclusive, royalty free, perpetual, worldwide licence to use Your Content in any way (including, without limitation, editing, copying, modifying, adapting, translating, reformatting, creative derivative works from, incorporating into other works, advertising, distributing and otherwise making available to the general publish such Content, whether in whole or in part and in any format or medium currently known or developed in the future).</p>
                    <p>We may assign and/or sub-licence the above licence to our affiliates and successors without any further approval by you.</p>
                    <p>We have the right to remove, edit, limit or block access to any of Your Content at any time, and we have no obligation to display or review Your Content.</p>

                    <h2>Client Content</h2>
                    <p>Other Clients of Beautystack will also share content via the App. Client Content belongs to the user who posted the content and is stored on our servers and displayed via the App at the direction of the user providing the Client Content.</p>
                    <p>You do not have any rights in relation to other users' Client Content, and you may only use other Beautystack users' personal information to the extent that your use of it matches Beautystack's purpose of allowing people to connect with one another. You may not use other users' information to spam, to harass, or to make unlawful threats. We reserve the right to terminate your Account if you misuse other users' information.</p>

                    <h2>Our Content</h2>
                    <p>The rest of the content on Beautystack belongs to us! Any other text, content, graphics, user interfaces, trademarks, logos, sounds, artwork, and other intellectual property appearing on Beautystack are owned, controlled or licensed by us and are protected by copyright, trademark and other intellectual property law rights. All right, title and interest in and to Our Content remains with us at all times.</p>
                    <p>We grant you a non-exclusive, limited, personal, non-transferable, revocable, license to access and use Our Content, without the right to sublicense, under the following conditions:</p>
                    <ul>
                        <li>you shall not use, sell, modify, or distribute Our Content except as permitted by the functionality of the App;</li>
                        <li>you shall not use our name in metatags, keywords and/or hidden text;</li>
                        <li>you shall not create derivative works from Our Content or commercially exploit Our Content, in whole or in part, in any way; and</li>
                        <li>you shall use Our Content for lawful purposes only. </li>
                    </ul>
                    <p>We reserve all other rights.</p>

                    <h2>Restriction on the App</h2>
                    <p>We don’t tolerate bad behaviour on Beautystack. You can report any abuse or complain about Client Content by contacting us, outlining the abuse and/or complaint. Email us at <a href="mailto:hello@beautystack.co">hello@beautystack.co</a></p>
                    <p>We also want our users to respect Beautystack. Scraping or replicating any part of the App without our prior consent is expressly prohibited. This includes by any means (automated or otherwise) other than through our currently available, published interfaces - unless you have been specifically allowed to do so in a separate agreement with us.</p>
                    <p>For information about how Beautystack Limited collects, uses, and shares your personal data, please check out our <a href="/privacy">Privacy Policy</a>. By using Beautystack, you agree that we can use such data in accordance with our <a href="/privacy">Privacy Policy</a>.</p>

                    <h2>Third Party Stores; Premium Services; In-App Purchases</h2>
                    <p>The Service may be dependent on and/or interoperate with third-party owned and/or operated platforms and services, e.g., Apple (iTunes, etc.), Google, etc. (each, a “Third Party Platform”) and may require that you be a registered Client of such Third Party Platforms and provide certain account credentials and other information in order to access the App. By using the App, you agree to comply with any applicable terms, conditions or requirements promulgated by any provider of a Third Party Platform (e.g., Facebook’s Terms of Use, iTunes Store Terms of Use, etc.).</p>
                    <p>We will make certain products and/or services available to users of the App in consideration of a subscription fee or other fees (“Premium Services”), including the ability to purchase products, services and enhancements, such as the ability to extend your matches (“In-App Products”). If you choose to use Premium Services or make In-App Products, you acknowledge and agree that additional terms may apply to your use of, access to and purchase of such Premium Services and In-App Products, and such additional terms are incorporated herein by reference. You may purchase Premium Services and In-App Products through the following payment methods (each, a “Premium Payment Method”): (a) paying with your credit card, debit card, Bitpay or PayPal account, which will be processed by a third party processor, or (b) adding charges to your mobile carrier bill and remitting payment directly to your carrier. Once you have requested a Premium Service or In-App Product, you authorize us to charge your chosen Premium Payment Method and your payment is non-refundable. If payment is not received by us from your chosen Premium Payment Method, you agree to promptly pay all amounts due upon demand by us. If you want to cancel or change your Premium Payment Method at any time, you can do so either via the payment settings option under your profile or by contacting your mobile service provider. If your chosen Premium Payment Method is via your mobile service provider, then please check with them about their payment terms, as their payment terms will govern how payments to Beautystack Limited are made as well as how such payments may be changed or cancelled. Your subscription to Beautystack Limited’s Premium Services will automatically renew until you decide to cancel in accordance with such terms. In the event of a conflict between a Third Party Store’s terms and conditions and these Terms, the terms and conditions of the Third Party Store or service provider shall govern and control. We are not responsible and have no liability whatsoever for goods or services you obtain through the Third Party Store, our third party service providers or other web sites or web pages. We encourage you to make whatever investigation you feel necessary or appropriate before proceeding with any online transaction with any of these third parties.</p>
                    <p>If you choose to make an In-App Purchase, you will be prompted to enter details for your account with the Third Party Store you are using (e.g.Paypal, etc.) (“your Platform Account”), and your Platform Account will be charged for the Premium Service and/or In-App Product in accordance with the terms disclosed to you at the time of purchase, as well as the general terms applicable to all other in-app purchases made through your Platform Account (e.g.Paypal, etc.). Premium Services and In-App Products may include one-time purchases as well as monthly subscriptions (e.g., a one-month subscription, three-month subscription, six-month subscription, etc.) to additional account features. At the end of the free trial period (if any), you will be charged the price of the subscription and will continue to be charged until you cancel your subscription. Please note that for Premium Services and In-App Products made on a subscription basis, your subscription will automatically renew for the same subscription period as you initially purchased (e.g., if you made an In-App Product for a six-month subscription, your subscription will be automatically renewed for an additional six-months). To avoid any charges for additional periods, you must cancel before the end of the free trial period, subscription period or renewal, as applicable, in accordance with the terms and conditions of your Mobile Platform Account and the terms and conditions of any applicable Third Party Store.</p>
                    <p>Please note that for Premium Services and In-App Products you will be billed continuously for the subscription or service until you cancel in accordance with your Platform Account’s or your Premium Payment Method’s terms. In all cases, we are not responsible and have no liability whatsoever for any payment processing errors (including card processing, identity verification, analysis and regulatory compliance) or fees or other service-related issues, including those issues that may arise from inaccurate account information, or products or goods you obtain through your Platform Account or Third Party Stores. Further, Beautystack Limited does not guarantee that product descriptions or other content and products will be available, accurate, complete, reliable, current or error-free. Descriptions and images of, and references to, products or services (including Premium Services or In-App Products) do not imply our or any of our affiliates' endorsement of such products or services. Moreover, Beautystack Limited and its third party operational service providers reserve the right, with or without prior notice, for any or no reason, to change product descriptions, images, and references; to limit the available quantity of any product; to honor, or impose conditions on the honoring of, any coupon, coupon code, promotional code or other similar promotions; to bar any user from conducting any or all transaction(s); and/or to refuse to provide any user with any product. Further, if we terminate your use of or registration to the App because you have breached these Terms, you shall not be entitled to a refund of any unused portion of any fees, payments or other consideration. We encourage you to review the terms and conditions of the applicable third party payment processors, Third Party Store or Platform Account before you make any In-App Products or Premium Service purchases.</p>

                    <h2>Push Notifications; Location Based Features</h2>
                    <p>We may provide you with emails, text messages, push notifications, alerts and other messages related to the App and/or the Beautystack services, such as enhancements, offers, products, events, and other promotions. After using the App, you will be asked to accept or deny push notifications/alerts. If you deny, you will not receive any push notifications/alerts. If you accept, push notifications/alerts will be automatically sent to you. If you no longer wish to receive push notifications/alerts from the App, you may opt out by changing your notification settings on your mobile device. With respect to other types of messaging or communications, such as emails, text messages, etc., you can unsubscribe or opt out by either following the specific instructions included in such communications, or by emailing us with your request at hello@Beautystack.co</p>
                    <p>The App may allow access to or make available opportunities for you to view certain content and receive other products, services and/or other materials based on your location. To make these opportunities available to you, the App will determine your location using one or more reference points, such as GPS, Bluetooth and/or software within your browsing device. If you have set your mobile device to disable GPS, Bluetooth or other location determining software or do not authorize the App to access your location data, you will not be able to access such location-specific content, products, services and materials. For more about how the App uses and retains your information, please read the Privacy Policy.</p>

                    <h2>Disclaimer</h2>
                    <p>THE APP, SITE, OUR CONTENT, AND Client CONTENT ARE ALL PROVIDED TO YOU "AS IS" AND "AS AVAILABLE" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, FITNESS FOR A PARTICULAR PURPOSE, TITLE, OR NON-INFRINGEMENT.</p>
                    <p>SHOULD APPLICABLE LAW NOT PERMIT THE FOREGOING EXCLUSION OF EXPRESS OR IMPLIED WARRANTIES, THEN WE GRANT THE MINIMUM EXPRESS OR IMPLIED WARRANTY REQUIRED BY APPLICABLE LAW. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, SHALL CREATE ANY WARRANTY, REPRESENTATION OR GUARANTEE NOT EXPRESSLY STATED IN THIS SECTION.</p>
                    <p>ADDITIONALLY, WE DO NOT MAKE ANY WARRANTIES THAT THE APP OR SITE WILL BE UNINTERRUPTED, SECURE OR ERROR FREE OR THAT YOUR USE OF THE APP OR SITE WILL MEET YOUR EXPECTATIONS, OR THAT THE APP, SITE, OUR CONTENT, ANY Client CONTENT, OR ANY PORTION THEREOF, IS CORRECT, ACCURATE, OR RELIABLE. YOUR USE OF THE APP OR SITE IS AT YOUR OWN RISK. YOU ARE SOLELY RESPONSIBLE FOR YOUR INTERACTIONS WITH OTHER CLIENTS. BEAUTYSTACK LIMITED IS NOT RESPONSIBLE FOR THE CONDUCT OF ANY USER. </p>
                    <p>NEITHER US NOR ANY OWNER WILL BE LIABLE FOR ANY DAMAGES, DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, OR PUNITIVE, INCLUDING, WITHOUT LIMITATION, LOSS OF DATA, INCOME, PROFIT OR GOODWILL, LOSS OF OR DAMAGE TO PROPERTY AND CLAIMS OF THIRD PARTIES ARISING OUT OF YOUR ACCESS TO OR USE OF THE APP, SITE, OUR CONTENT, OR ANY Client CONTENT, HOWEVER CAUSED, WHETHER BASED ON BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE), PROPRIETARY RIGHTS INFRINGEMENT, PRODUCT LIABILITY OR OTHERWISE.</p>
                    <p>THE FOREGOING SHALL APPLY EVEN IF WE WERE ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IF YOU BECOME DISSATISFIED IN ANY WAY WITH THE APP OR SITE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO STOP YOUR USE OF THE APP AND SITE.</p>
                    <p>YOU HEREBY WAIVE ANY AND ALL CLAIMS ARISING OUT OF YOUR USE OF THE APP OR SITE. BECAUSE SOME STATES DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN TYPES OF DAMAGES, THESE PROVISIONS MAY NOT APPLY TO YOU.</p>
                    <p>THE LIMITATION OF LIABILITY HEREIN IS A FUNDAMENTAL ELEMENT OF THE BASIS OF THE BARGAIN AND REFLECTS A FAIR ALLOCATION OF RISK. THE APP AND SITE WOULD NOT BE PROVIDED WITHOUT SUCH LIMITATIONS AND YOU AGREE THAT THE LIMITATIONS AND EXCLUSIONS OF LIABILITY, DISCLAIMERS AND EXCLUSIVE REMEDIES SPECIFIED HEREIN WILL SURVIVE EVEN IF FOUND TO HAVE FAILED IN THEIR ESSENTIAL PURPOSE.</p>

                    <h2>Indemnity</h2>
                    <p>All the actions you make and information you post on Beautystack remain your responsibility. Therefore, you agree to indemnify, defend, release, and hold us, and our partners, licensors, affiliates, contractors, officers, directors, employees, representatives and agents, harmless, from and against any third party claims, damages (actual and/or consequential), actions, proceedings, demands, losses, liabilities, costs and expenses (including reasonable legal fees) suffered or reasonably incurred by us arising as a result of, or in connection with:</p>
                    <ul>
                        <li>any negligent acts, omissions or wilful misconduct by you;</li>
                        <li>your access to and use of the App;</li>
                        <li>the uploading or submission of Content to the App by you;</li>
                        <li>any breach of these Terms by you; and/or</li>
                        <li>your violation of any law or of any rights of any third party.</li>
                    </ul>
                    <p>We retain the exclusive right to settle, compromise and pay any and all claims or causes of action which are brought against us without your prior consent. If we ask, you will co-operate fully and reasonably as required by us in the defence of any relevant claim.</p>

                    <h2>Miscellaneous</h2>
                    <p>These Terms, which we may amend from time to time, constitute the entire agreement between you and Beautystack Limited. The Terms supersede all previous agreements, representations and arrangements between us (written or oral). Nothing in this clause shall limit or exclude any liability for fraudulent misrepresentation.</p>
                    <p>Beautystack Limited has taken reasonable steps to ensure the currency, availability, correctness and completeness of the information contained on Beautystack and provides that information on an "as is", "as available" basis. Beautystack Limited does not give or make any warranty or representation of any kind about the information contained on Beautystack, whether express or implied. Use of Beautystack and the materials available on it is at your sole risk. Beautystack Limited can not be held responsible for any loss arising from the transmission, use of data, or inaccurate User Content.</p>
                    <p>You are responsible for taking all necessary precautions to ensure that any material you may obtain from Beautystack is free of viruses or other harmful components. You accept that Beautystack will not be provided uninterrupted or error free, that defects may not be corrected or that Beautystack Limited, or the server that makes it available, are free of viruses or bugs, spyware, Trojan horse or any similar malicious software. Beautystack Limited is not responsible for any damage to your computer hardware, computer software, or other equipment or technology including, but without limitation damage from any security breach or from any virus, bugs, tampering, fraud, error, omission, interruption, defect, delay in operation or transmission, computer line or network failure or any other technical or other malfunction.</p>
                    <p>As Beautystack grows, we might have to make changes to these Terms so we reserve the right to modify, amend or change the Terms at any time (a "Change"). If we do this then the Changes will be posted on this page and we will indicate the Effective Date of the updates at the bottom of the Terms. In certain circumstances, we may send an email to you notifying you of a Change. You should regularly check this page for notice of any Changes – we want our users to be as informed as possible.</p>
                    <p>Your continued use of Beautystack following any Change constitutes your acceptance of the Change and you will be legally bound by the new updated Terms. If you do not accept any Changes to the Terms, you should stop using Beautystack immediately.</p>
                    <p>If, for any reason, any of the Terms are declared illegal, invalid or otherwise unenforceable by a court of a competent jurisdiction, then to the extent that term is illegal, invalid or unenforceable, it shall be severed and deleted from the Terms and the remainder of the Terms shall survive, remain in full force and effect and continue to be binding and enforceable.</p>
                    <p>No failure or delay in exercising any right, power or privilege under the Terms shall operate as a waiver of such right or acceptance of any variation of the Terms and nor shall any single or partial exercise by either party of any right, power or privilege preclude any further exercise of the right or the exercise of any other right, power or privilege.</p>
                    <p>The App may contain links to third-party websites or resources. In such cases, you acknowledge and agree that we are not responsible or liable for:</p>
                    <ul>
                        <li>the availability or accuracy of such websites or resources; or</li>
                        <li>the content, products, or services on or available from such websites or resources.</li>
                    </ul>
                    <p>Links to such websites or resources do not imply any endorsement. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.</p>
                    <p>These Terms, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by us without restriction.</p>

                    <h2>About Us</h2>
                    <p>Your access to the App, Our Content, and any Client Content, as well as these Terms are governed and interpreted by the laws of England and Wales. By using the App, you are consenting to the exclusive jurisdiction of the courts of England and Wales. In the event there is a discrepancy between this English language version and any translated copies of the Terms, the English version shall prevail.</p>
                    <p>Beautystack Limited is registered in the United Kingdom under company number 10736703. Our registered address is 4 Peter Street, London, W1F 0AD</p>

                    <p>The terms were last updated on: 11 September 2017</p>

                    <div class="talk">
                        <div class="sub">It’s good to talk, email us at</div>
                        <div class="email"><a href="mailto:hello@beautystack.co">hello@beautystack.co</a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="{{ assetPath "js/main.min.js" }}"></script>
</body>
</html>