{% extends 'base.html.twig' %}

{% block body %}
<div id="page-wrapper">

  <div class="container-fluid">
    <div class="row">

      <div id="left-side" class="col-md-5 height-100">

        <!-- Header -->
        <div id="header" class="section">
          <p id="content">Beautystack is a new platform for beauty pros.</p>
          <div id="line-break"></div>
          <p id="content2"><b>Get early access?</b></p>
        </div>

        <!-- User type selection (Client / Pro) -->
        <div id="user-type" class="section">
          <span class="option">
            <span id="pro" class="circle"><div class="selected"></div></span>
            <span class='user-type-text'>I am a Beauty Pro</span>
          </span>

          <span class="option">
            <span id="client" class="circle grey-circle"></span>
            <span class='user-type-text grey-text'>I am a Client</span>
          </span>
        </div>

        <div id="footer">
          <!-- Signup Form -->
          <div class="form">
            <form id="signup-form" method="post" action="#">
              <input type="email" name="email" id="email" placeholder="Email Address" class="input-field" />
              <input type="submit" id="leadSubmit" value="GO" class="input-field" />
            </form>
          </div>
          <!-- Social Icons -->
          <ul class="icons">
            <li><a target="_blank" href="https://www.facebook.com/beautystack" class="icon"><i class="fa fa-facebook-square"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/beautystack" class="icon"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://instagram.com/beautystackgang" class="icon"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>

      </div>


      <div id="right-side" class="col-md-7 height-100">
        <img id="logo" src="../../images/btystk.png" style="max-width: 100%;">
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block javascripts %}
<!-- Scripts -->
<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/main.js"></script>

<script>
  // User-Type Selection
  // $('.circle').click(function() {
  //   if ($(this).html() == ""){
  //     $('.circle').html("");
  //     $(this).html("<div class='selected'></div>");
  //   }
  // });

  function firstChoice(){
    $('.circle').eq(1).html("");
    $('.circle').eq(0).html("<div class='selected'></div>");
    $('.user-type-text').eq(1).toggleClass("grey-text");
    $('.user-type-text').eq(0).toggleClass("grey-text");
    $('.circle').eq(0).toggleClass("grey-circle");
    $('.circle').eq(1).toggleClass("grey-circle");
  }

  function secondChoice(){
    $('.circle').eq(0).html("");
    $('.circle').eq(1).html("<div class='selected'></div>");
    $('.user-type-text').eq(1).toggleClass("grey-text");
    $('.user-type-text').eq(0).toggleClass("grey-text");
    $('.circle').eq(0).toggleClass("grey-circle");
    $('.circle').eq(1).toggleClass("grey-circle");
  }

  $('.circle').eq(0).click(function() {firstChoice();});
  $('.circle').eq(1).click(function() {secondChoice();});

  $('.user-type-text').eq(0).click(function() {firstChoice();})
  $('.user-type-text').eq(1).click(function() {secondChoice();})

  // Use $('#pro').html() to check if pro is selected
  // Use $('#client').html() to check if client is selected

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98387976-1', 'auto');
  ga('send', 'pageview');
</script>
{% endblock %}
