{% extends 'base.html.twig' %}

{% block body %}
    <div class="legal">
        <a href="/" class="back">
            <img src="http://assets.beautystack.co/logos/square-black-bg.png">
        </a>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Privacy Policy</h1>
                    <p class="updated">Last Updated: 11th September 2017</p>
                    <p>Hey Babe, heres the 411 on Beautystack Privacy.</p>
                    <p>Beautystack App, Inc. (“Beautystack,” the “Company,” “we,” and “us”) is committed to maintaining a trustworthy, curated community. To that end, the policy set forth below (the “Privacy Policy”) reflects our commitment to protecting your privacy and describes the information we collect, how that information may be used, and with whom it may be shared. By using our web application (the “app”) and related services (collectively, the “Service”), you are agreeing to be bound by
                        the
                        terms described herein. We encourage you to read this Privacy Policy and our <a href="http://www.beautystack.co/termsofservice">Terms of Use</a> carefully and contact us at <a href="mailto:hello@beautystack.co">hello@beautystack.co</a> with any questions you may have.
                    </p>
                    <p>We will occasionally update this Privacy Policy to reflect changes in the law, our data collection and use practices, the features of our Service, or advances in technology. When we make changes, we will email you and we will revise the “updated” date at the top of this Privacy Policy, which will be posted at <a href="http://www.beautystack.co/privacy">http://www.beautystack.co/privacy</a>. We encourage you to regularly check for the most recent version. Your continued use
                        of the Service following the posting of changes to
                        this Privacy Policy will mean you consent to and acceptance thereof. If you do not consent to such changes you can terminate your account at any time as described in our Terms of Use.</p>
                    <p>When you’re using our Beautystack web application and related services, there is some information we collect about you, and you can share your information on the App with other users ("Users"). </p>

                    <h2>Collection of information</h2>
                    <p>In order to apply for membership to the Service, you will be asked to begin an application using your Instagram credentials. Upon doing so, you authorize us to access information from your Instagram account, such as your username, profile picture, biography, website, list of followers, list of people you follow, and number of pictures. You will also be asked to allow us to collect your geographical location information and you may respond to such request by allowing us to
                        collect location information at all times, only while you are using the app or not at all. Further, you may be asked if you would like to display your specific location to other users. In addition, we may collect and store any personal information you provide while using our Service, which may include identifying information provided in your application, such as your name, Instagram username, email address, date of birth, gender, hometown, city of residence, and listed
                        friends currently using Beautystack. In connection with your use of the Service, you may also provide us images, a biographical description, information about your gender and preferences for recommendations and connections. If you communicate with other users within the Service, you provide us the content of your conversation. Should you contact us with an inquiry, you provide us the content of that correspondence. You may change your personal information at any time
                        within
                        the app settings.</p>

                    <h2>Information Collected Automatically</h2>
                    <p>Information you provide. In addition to the information you provide, certain information will be automatically collected as you use the Service, including, but not limited to, the operation system used by your device, your device type and ID, your IP address, and access times. If you grant us permission to use location services, we will automatically collect data regarding your geographical location at all times or while the app is actively running, as applicable. Note
                        that
                        even if you do not grant us permission to use location services, we may collect data regarding your city, state and general location (not not your exact location) through your IP address.</p>
                    <p>Once your application is successful, you are able to sign up to Beautystack through your Facebook account. We will collect information about you from your Facebook profile (“Registration Information”) including:</p>
                    <ul>
                        <li>Name;</li>
                        <li>Age;</li>
                        <li>Photographs;</li>
                        <li>Email address;</li>
                        <li>Telephone number;</li>
                        <li>Location;</li>
                        <li>Workplace;</li>
                        <li>Friends List;</li>
                    </ul>

                    <h2>Uses made of the information</h2>
                    <p>Information Shared with Other Users. When you register as a user of the Service, your app profile will be viewable by other users of the Service. Such other users will be able to view information you have provided to us directly or through Instagram, such as your Instagram username, photos you upload, your first name, your age, city of residence, hometown, your biography, and information you have in common with the person viewing your profile, such as mutually followed
                        Instagram accounts. Users are about to chat with you through the Service. Should you engage in a conversation through our Service, that user with whom you are communicating will see the content of that interaction. By submitting an application to Beautystack, you are giving the app access to your Instagram profile through the use of Instagram’s API. However, the Instagram information automatically available to users of the app will not exceed the information otherwise
                        accessible through your Instagram profile. Therefore, a “private” Instagram user profile will still be private; only the content you choose to share with Beautystack users will be visible.</p>
                    <p>We may use information about you, or technical information relating to your mobile device to:</p>
                    <ul>
                        <li>offer you our services and features;</li>
                        <li>contact you with information about the App subject to the “Marketing” section below;</li>
                        <li>respond to any queries you raise when you contact us directly;</li>
                        <li>notify you about changes to our service;</li>
                        <li>carry out internal operations such as troubleshooting, data analysis, testing, research or for statistical purposes;</li>
                        <li>investigate fraud, protect our legal rights, and to enforce our <a href="/termsofservice">Terms of Use</a></li>
                        <li>to allow you to participate in interactive features of our service, when you choose to do so</li>
                    </ul>

                    <h2>Disclosure of your information</h2>
                    <p>We will not disclose your information, except in the limited circumstances described here:</p>
                    <p>Your Consent</p>
                    <p>Service Providers — We engage certain trusted third parties to perform functions and provide services to us. We may share your Registration Information with these third parties, but only for the purposes of performing these functions and providing such services.</p>
                    <p>Law and Harm — We will cooperate with law enforcement enquiries received from within or outside your country of residence. This may include preserving or disclosing any of your information, including your Registration Information, if we believe in good faith that it is necessary to comply with a law or regulation, or when we believe that disclosure is necessary to comply with a judicial proceeding, court order, or legal request, to protect the safety of any person, to
                        address
                        fraud, security or technical issues, or to protect our rights or property or those of third parties. In such cases we may raise or waive any legal obligation or right available to us.</p>
                    <p>Business Transfers — In the event that Beautystack or any of our affiliates are involved in a bankruptcy, merger, acquisition, reorganisation or sale of assets, your information may be sold or transferred as part of that transaction.</p>
                    <p>Other Information — We may share or disclose aggregated or otherwise anonymised information with third parties for industry analysis and demographic profiling, and to deliver targeted advertising.</p>

                    <h2>Where we store your personal data</h2>
                    <p>The data that we collect from you may be stored in the European Union as well as being transferred to, and stored at, a destination outside the European Economic Area ("EEA") such as the United States. It may also be processed by staff operating outside the EEA who work for us or for one of our suppliers. This includes staff engaged in, among other things, the provision of support services. By submitting your personal data, you agree to this transfer, storing or
                        processing.
                        Beautystack will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.</p>

                    <h2>Keeping Information Secure</h2>
                    <p>We take the security of your information very seriously. Despite our efforts, no system is guaranteed to be completely secure. While we have taken, and will continue to take, reasonable actions to regularly update and improve our security, we do not promise, nor you should expect, that your information, chats, or other communications will always remain secure. We have no liability to you or to any third party arising out of any loss, misuse or alteration of your personal
                        information. Users outside of the EU, should note that your information may be transferred to our servers which are hosted within the EU.</p>

                    <h2>Marketing and Push Notifications</h2>
                    <p>We may contact you using your email address which you can opt out of at any time by using the unsubscribe link in any of our communications. Upon using the App you will be asked to accept or deny push notifications/alerts. If you deny, you will not receive any push notifications/alerts. If you accept, push notifications/alerts will automatically be sent to you. If you no longer wish to receive push notifications/alerts from the App, you may opt out by changing the
                        notification
                        settings on your mobile device.</p>

                    <h2>Geolocation Information</h2>
                    <p>Upon using the App, you will be asked to turn on location services. If you turn these features on, we may collect your device's geolocation data and save your device's coordinates to offer certain features to you. We may also use your device's geolocation information to personalise the App and make it easier for you to interact with other Users close by. You can control your location information settings in your Account settings and switch them off if you want to. Even if
                        you
                        have disabled location services, we may still determine your city, state, and country location based on your IP address (but not your exact location).</p>

                    <h2>Log and Usage Data</h2>
                    <p>Our servers automatically record information ("Log and Usage Data") created by your use of Beautystack, which again helps us to improve our service. Log and Usage Data may include information such as your IP address, browser type, the referring domain, pages visited, access times, your mobile carrier, and search terms. Other actions, such as interactions with Beautystack and advertisements, may also be included in Log and Usage Data.</p>

                    <h2>Device Information</h2>
                    <p>We may collect information about your device when you use the App including the unique device identifier, device model, operating system, and MAC address. In addition, if you permit us to do so, the App may access your device's address book and contact lists in order to offer you certain features of our Services.</p>

                    <h2>What Others See About You</h2>
                    <p>Beautystack is designed to make it easier for you to connect with other Users and to interact with them. When you register or login to the App using your Facebook account, you are authorizing us to access certain Facebook account information, including information you make available via Facebook, your friends list, current location and those friends you have in common with other Beautystack users. Your Beautystack profile and other information you make available via the
                        App,
                        including information you provide directly or indirectly through Facebook (i.e., your Facebook photos, your name, age, approximate location, friends you have in common with other Users and other profile information), may be viewed and shared by Users with individuals who may or may not be Users or via third party applications. When using Beautystack you should assume that anything you post or submit on the App may be publicly-viewable and accessible, both by Users of the
                        App
                        and non-Users of the App. So, please be careful about what you post.</p>

                    <h2>Removing Beautystack Access</h2>
                    <p>If you want to remove Beautystack from your Facebook account at any time (and we hope you don’t!) you can do this by visiting the application settings on your Facebook profile and following the instructions to remove Beautystack access permissions.</p>
                    <p>Even after you remove information from your profile or delete your Account, copies of that information may still be viewable and/or accessed to the extent such information has been previously shared with others, or copied or stored by other Users or to the extent such information has been shared with search engines. We cannot control this, nor do we accept any liability for this. If you have given third party applications or websites access to your personal information
                        they
                        may retain such information to the extent permitted under their terms of service or privacy policies. Removed and deleted information may persist in backup copies for up to 30 days to enable restoration, but will not be available to others in the meantime.</p>

                    <h2>Access to information</h2>
                    <p>You may request, at any time, Beautystack to provide you with information about the data it stores on you. In order to file a request, please contact hello@beautystack.co We will process that request in line with any applicable local laws and our policies and procedures in place for dealing with such requests.</p>

                    <h2>Cookies</h2>
                    <p>We collect information by placing cookies on your mobile. A cookie is a piece of text stored on your computer or mobile by your web browser. They are basically a tool that stores information about website visits, recognises you and your preferences, ensures site functionality and enables us to provide the services you request. We use cookies for a number of reasons, as explained below:</p>

                    <table>
                        <thead>
                            <tr>
                                <th class="table-col">Cookie Functions</th>
                                <th class="table-col">Cookie Purposes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td valign="top" class="table-col table-col-1">Analytics and research</td>
                                <td class="table-col">We use Google Analytics to collect information about how visitors use the Beautystack site. We use the information to compile reports and to help us improve the site. The cookies collect information in an anonymous form, including the number of visitors to the site, where visitors have come to the site from and the pages they visited. For more information about Google’s privacy policy, please visit <a
                                            href="http://www.google.com/intl/en/policies/">http://www.google.com/intl/en/policies/</a>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" class="table-col table-col-1">Authentication</td>
                                <td class="table-col">These cookies help us to identify visitors so that when you’re logged in, you can enjoy Beautystack’s offerings and localise your experience, such as when you’ve requested to view Beautystack’s site in your local language or when you’ve asked Beautystack to ‘remember me’.</td>
                            </tr>
                            <tr>
                                <td valign="top" class="table-col table-col-1">Security and site integrity</td>
                                <td class="table-col">We use cookies and other devices, such as CAPTCHAs, to help keep the site and our visitors safe and secure. These cookies do things like protect visitors from spam and fraud, by ensuring the safety of personal data. We may use persistent cookies, which will help us to ensure we have identified the same device is logging into the correct account. These types of cookies also help with our anti-spam measures and may help us to prevent phishers,
                                    scammers and other
                                    unauthorised activity.
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" class="table-col table-col-1">Site features and services</td>
                                <td class="table-col">These cookies and local storage devices provide functionalities such as links to other social media sites and social plugins. In some cases, the site feature you choose may allow a third party to place cookies or local storage devices on your computer. The third party who places cookies on your device is responsible for how they process their data and Beautystack recommends that you read their privacy policies. Third parties who place cookies
                                    on
                                    your device when
                                    you use Beautystack include the following, and we have included a link to their privacy policies:
                                    <br/>Facebook, <a href="http://www.facebook.com/about/privacy/your-info-on-other#socialplugin">http://www.facebook.com/about/privacy/your-info-on-other#socialplugin</a>
                                    <br/>YouTube, <a href="http://www.google.co.uk/intl/en/policies/privacy/">http://www.google.co.uk/intl/en/policies/privacy/</a></td>
                            </tr>
                            <tr>
                                <td valign="top" class="table-col table-col-1">Performance</td>
                                <td class="table-col">We need to use certain cookies and local storage devices to ensure our visitors have the best possible experience. These may, for example, assist with your navigation of our site, ensure pages load up quickly and respond faster to your requests for the site’s services.</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>Our use of cookies and local share devices, including the specific cookie names, may change over time, but will generally fall into the above categories. Please visit this page regularly so that you are aware of any changes.</p>
                    <p>If you would like to know more about cookies, including flash cookies/local storage devices, the following websites provide useful information:</p>
                    <ul>
                        <li><a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a></li>
                        <li><a href="http://www.youronlinechoices.eu">www.youronlinechoices.eu</a></li>
                        <li><a href="http://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html">http://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html</a></li>
                        <li><a href="www.google.co.uk/goodtoknow/data-on-the-web/cookies">www.google.co.uk/goodtoknow/data-on-the-web/cookies</a></li>
                    </ul>

                    <h2>No rights of third parties</h2>
                    <p>This Privacy Policy does not create rights enforceable by third parties or require disclosure of any information relating to users of the Service.</p>
                    <p><strong>WE EXPRESSLY DISCLAIM ANY REPRESENTATION OR WARRANTY, WHETHER EXPRESS OR IMPLIED, WITH RESPECT TO ANY BREACHES OF SECURITY, DAMAGE TO YOUR DEVICE, OR ANY LOSS OR UNAUTHORISED USE OF YOUR REGISTRATION INFORMATION OR OTHER DATA.</strong></p>
                    <p>Beautystack App Limited is registered in the United Kingdom under company number 10736703. Our registered address is 4 Peter Street, London, W1F 0AD</p>
                    <p>This privacy policy was last updated on: 11 September 2017</p>

                    <div class="talk">
                        <div class="sub">It’s good to talk, email us at</div>
                        <div class="email"><a href="mailto:hello@beautystack.co">hello@beautystack.co</a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}