/*
|--------------------------------------------------------------------------
| Overlay
|--------------------------------------------------------------------------
| @namespace: scrl-
|
*/
@import "../../styles/mixins/mixins";

.scrl-Overlay {
  position: relative;

  align-items: center;
  justify-content: center;

  display: flex;
  min-height: calc(100vh + 120px);
  padding-bottom: 32px;

  background: var(--Color_Gradient);

  @include sm {
    padding-bottom: 64px;
  }
}

.scrl-Overlay_Tear {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  transform: translateY(-96%);

  svg {
    display: block;
    width: 100%;
    height: 100%;

    fill: var(--Color_Peach);
  }
}

.scrl-Overlay-fixed {
  overflow: hidden;

  &::before {
    position: fixed;
  }
}

.scrl-Overlay_ImageContainer {
  position: absolute;
  top: 100vh;
  right: 0;
  bottom: 0;
  left: 0;

  object-fit: cover;
}

.scrl-Overlay_Image {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.scrl-Overlay_Inner {
  @include Grid_Container;
}

.scrl-Overlay_Content {
  position: relative;

  @include sm {
    display: flex;
  }
}

.scrl-Overlay_Columns {
  margin: 32px 0 48px;

  @include sm {
    align-items: center;
    justify-content: center;

    display: flex;
    width: calc(8 / 12 * 100%);
    max-height: 100vh;
    margin: 0;
  }
}

.scrl-Overlay_Column {
  @include sm {
    width: calc(4 / 8 * 100% - var(--Grid_Gutter));
    margin-right: calc(var(--Grid_Gutter) * 2);
  }

  &:last-child {
    display: none;

    @include sm {
      display: block;
    }
  }

  @include lg {
    width: calc(4 / 8 * 100% - var(--Grid_Gutter) * 2);
    margin-right: calc(var(--Grid_Gutter) * 4);
  }

  .scrl-Overlay-fixed & {
    position: fixed;
    top: 50%;

    transform: translateY(-50%);
  }

  .scrl-Overlay-complete & {
    position: absolute;
    bottom: 50vh;

    transform: translateY(50%);
  }
}

.scrl-Overlay_Column-phone {
  margin: 0;

  .scrl-Overlay-fixed & {
    left: 50%;

    transform: translate(-50%, -50%);
  }

  .scrl-Overlay-complete & {
    left: 50%;

    transform: translate(-50%, 50%);
  }
}

.scrl-Overlay_Column-content {
  margin-bottom: 32px;

  @include sm {
    margin-bottom: 0;

    opacity: 0;

    transition: opacity 0.6s;
  }

  .scrl-Overlay-fixed & {
    @include sm {
      opacity: 1;

      transition: transform 0.6s, opacity 0.6s;
    }
  }

  .scrl-Overlay-complete & {
    left: 0 !important;
  }
}

.scrl-Overlay_SliderContent {
  display: none;

  @include sm {
    left: auto;

    display: block;
    width: calc(4 / 12 * 100% - var(--Grid_Gutter));
    margin-left: calc(var(--Grid_Gutter) * 2);
  }

  @include lg {
    width: calc(4 / 12 * 100% - var(--Grid_Gutter) * 2);
    margin-left: calc(var(--Grid_Gutter) * 4);
  }
}

.scrl-Overlay_Title {
  margin-bottom: 8px;

  text-transform: uppercase;
  font-size: 26px;
  line-height: 38px;
  text-align: center;

  color: #fff;

  @include md {
    margin-bottom: 16px;

    font-size: 30px;
    line-height: 38px;
  }
}

.scrl-Overlay_Title-condensed {
  font-family: var(--Font_Family-condensed);
}

.scrl-Overlay_Buttons {
  max-width: 240px;
  margin: 0 auto;

  @include sm {
    max-width: none;
  }

  @include lg {
    justify-content: center;

    display: flex;
    margin: 0 -8px;
  }
}

.scrl-Overlay_Button {
  @include Button-primary;

  width: 100%;
  margin-top: 16px;
  padding: 6px;

  @include sm {
    padding: 10px;
  }

  &:first-child {
    margin-top: 0;
  }

  @include sm {
    width: 100%;
  }

  @include lg {
    width: auto;
    margin: 0 8px;
  }
}

.scrl-Overlay_Button-active {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: transparent;

  cursor: initial;

  &:hover {
    @include sm {
      background-color: rgba(255, 255, 255, 0.5);
      border-color: transparent;
    }
  }
}

.scrl-Overlay_Image {
  width: 100%;
}
