.confirmation {
    #confetti{
        height: 100%;
        left: 0px;
        opacity: 0;
        position: fixed;
        top: 0px;
        width: 100%;
        transition: all 500ms ease-in-out;
        z-index: 0;

        &.loaded {
            opacity: 1;
        }
    }

    #wrapper {
        align-items: center;
        justify-content: center;
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    #social {
        position: absolute;
        top: 25px;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%);
        transition: all 500ms ease-in-out;
        z-index: 2;

        &.loaded {
            opacity: 1;
            top: 55px;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                display: inline;
                margin: 0 10px;

                .icon {
                    color: #1D1D1D;
                    font-size: 25px;

                    &:hover {
                        color: #1D1D1D;
                    }
                }
            }
        }
    }

    #content {
        max-width: 600px;
        opacity: 0;
        position: relative;
        text-align: center;
        top: -30px;
        transition: all 500ms ease-in-out;

        &.loaded {
            opacity: 1;
            top: 0;
        }

        #logo {
            width: 80%;
        }

        .intro {
            margin: 40px 0;
            text-align: center;

            p {
                margin: 0;
                line-height: 30px;
                font-size: 24px;
                font-weight: 700;

                &:first-child {
                    margin-bottom: 25px;
                }
            }
        }
    }

    #footer {
        position: absolute;
        bottom: 100px;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%);
        transition: all 500ms ease-in-out;
        z-index: 2;

        &.loaded {
            opacity: 1;
            bottom: 70px;
        }

        a {
            color: #1D1D1D;
            text-decoration: underline;
            font-family: 'Roboto Mono', monospace;
            font-size: 14px;
        }

        .separator {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transform: translateY(-15%);
            text-decoration: none;
            margin: 0 8px;
        }
    }
}

@media (max-width: 576px) {
    .confirmation {
        #social {
            top: auto;
            bottom: 70px;

            ul {
                li {
                    .icon {
                        font-size: 20px;
                    }
                }
            }
        }

        #content {
            max-width: 75%;
            position: relative;
            top: -40px;

            .intro {
                margin: 35px 0;
                text-align: center;

                p {
                    line-height: 22px;
                    font-size: 18px;

                    &:last-child {
                        margin-top: 15px;
                    }
                }
            }
        }

        #footer {
            bottom: 35px;
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .confirmation {
        #social {
            top: auto;
            left: 25%;
            bottom: 14px;

            ul {
                li {
                    .icon {
                        font-size: 20px;
                    }
                }
            }
        }

        #content {
            max-width: 500px;
            text-align: center;
            top: -15px;
            position: relative;

            #logo {
                width: 300px;
            }

            .intro {
                margin: 20px 0;

                p {
                    font-size: 16px;

                    &:first-child {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        #footer {
            bottom: 20px;
            left: 75%;
            width: 50%;
            text-align: center;

            a {
                font-size: 12px;
            }
        }
    }
}